.menu{
    width: 100%;
    border: 2px solid;
    background-color: rgb(31, 82, 82);
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}
.active{
color: aliceblue;
padding: 0 5px 0 5px;
}
.active:hover{
    background-color: #fff;
    color: rgb(27, 60, 49);
    border-radius: 2px;
}
.menu_2{
    margin-top: 100px;
    width: 100%;
    border: 2px solid;
    background-color: rgb(31, 82, 82);
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.active_2{
color: aliceblue;
padding: 0 5px 0 5px;
}
.active_2:hover{
    background-color: #fff;
    color: rgb(27, 60, 49);
    border-radius: 2px;
}