body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    

header{
    
    height: 747px;
    background: linear-gradient(rgba(56, 56, 56, 0.5), rgba(32, 6, 150, 0.5)), url(/pngs/img.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    
        width: 100%;
        margin: auto;
    

    .header_line{
        height: 100px;
        align-items: center;
        display: flex;
        width: 1170px;
        margin: auto;

        .png{
            width: 270px;
        }

        .header_menu{
            display: flex;
        justify-content: space-evenly;
        width: 100%;
        }
        ul{
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            li a{
                text-decoration: none;
                color: #fff;
                display: block;
                height: 59px;
                margin-top: 40px;
                text-align: center;
                width: 134px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
            }
            li a:hover{
                border-bottom: #fff 3px solid;
                margin-top: 43px;
                width: 134px;
                
            }
            li a:active{
                border-bottom: #E71414 3px solid;
                margin-top: 43px;
                width: 134px;
                color: #E71414;
                
            }
        }

        
    }

    hr{
        margin: auto;
        width: 1179px;
        height: 0px;
        background-color: #BABBC5;
    }

    .title{
        width: 1170px;
        height: 150px;
        font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
margin: auto;
margin-top: 130px;
color: #fff;

    }
    .subtitle{
        width: 1170px;
        height: 56px;
        font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
margin: auto;
color: #fff;
margin-top: 14px;
    }

    button{
        padding: 0;
        margin: 82px auto;
        display: flex;
        justify-content: center;
        width: 369px;
        height: 77px;
        background-color: #FF4343;
        border: none;

        
    }


    button p{
        color: #fff;
        display: flex;
        align-self: center;
        font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
    }
    button:hover{
        background: #E71414;
    }
}
main{
    display: flex;
    flex-direction: column;

    .line{
        margin-top: 127px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        
        .labels{
            text-align: center;
            width: 370px;
            
            .bald{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
            }
            .mid{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
        }        
    }
    .grid{
        margin: auto;
        margin-top: 113px ;
        display: grid;
        grid-template-rows: 340px 340px;
        grid-template-columns: repeat(4, 378px);
    }
        .blank{
           display: none;
           p{
            text-align: center;
            display: flex;
            justify-content: center;
           }
           #project{
           padding-top: 130px;
           margin-top: 16px;
           font-family: 'Raleway';
           font-style: normal;
           font-weight: 900;
           font-size: 24px;
           line-height: 28px;
           color: #fff;     
           }
           #user{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
           }
           
        }
        .item:hover > .blank{
            position: relative;
            top: -360px;
            height: 338px;
            display: block;
            background: rgba(255, 67, 67, 0.8);
            order: 2px solid #FFFFFF;
        }
        .item:active > .blank{
            position: relative;
            display: block;
            background: rgba(128, 0, 0, 0.8);
            order: 2px solid #FFFFFF;
        }


    
    
    .team{
        display: flex;  
        justify-content: center;  
    

    .member{
        margin-top: 114px;
        margin-left: 15px;
        margin-right: 15px;
        width: 270px;
        display: flex;
        flex-direction: column;
        margin-bottom: 114px;

        .name{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }

        .job{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FF4343;
            margin: 0;
        }
        .discription{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
        }

        .socials{   
            display: flex;
        }
        .icon{
            border: 1px solid #C6CBCD;
            width: 39px;
            height: 39px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px; 
            margin-left: 0;
        }
    }
}
.wrapper {
    overflow: hidden;
    height: 540px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.wrapper>input {
    display: none;
}

.slider {
    width: 100%;
    background: #5C3249;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    height: 490px;
}

.slide {
    position: absolute;
    display: flex;
    opacity: 0;
    transform: scale(1);
    width: 100%;
    
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;

    .slide_img, .slide_text {
        width: 50%;
    }

    .slide_img {
        img {
            width: 100%;
            height: 490px;
            display: block;
        }
    }

    .slide_text {
        display: flex;
        align-items: center;
        margin: auto;

        p {
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 36px;
            padding: 30px;
            width: 50%;
        }
    }


}

.wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    overflow: visible;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #ddd;
}



#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    transform: scale(1);
}
}

}


.download {
        margin: 114px auto;
        text-align: center;
        height: 170px;
        width: 100%;

        button{
            margin-top: 50px;
            padding: 0;
            margin: 82px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border: none;
            width: 369px;
            height: 77px;
            background-color: #FF4343;
            color: #fff;
        }}

.info{background: #353C65;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-top: 114px;
    color: #fff;

    .blocks{
        width: 370px;
        text-align: center;
        font-size: 18px;

        
    }

    #title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-top: 71px;
    }
    #subtitle{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}

        .start {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
justify-content: center;
}

.socials_bottom{   
    display: flex;
    justify-content: center;
}
.icon{
    border: 1px solid #C6CBCD;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px; 
    margin-left: 13px;
}

.bottom_line{
    width: 100%;
    height: 90px;
    background: #2C3154;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
}
#bottom{
    width: 370px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #fff;
}

button:hover{
    background: #E71414;
}
button:active{
    background: #FF4343;
box-shadow: 4px 4px 30px #FF4343;
}

@media (max-width:  1024px){

    
.container{
    width: 100%;
    height: 100%;
    

header{
    
    height: 747px;
    background: linear-gradient(rgba(56, 56, 56, 0.5), rgba(32, 6, 150, 0.5)), url(/pngs/img.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    
        width: 100%;
        margin: auto;
    

.header_line{
   height: 100px;
   align-items: center;
   display: flex;
   width: 100%;
   margin: auto;   
.png{
    width: 270px;
    margin-left: 20px;
   }   
.header_menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   }
ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    width: 100%;       
li{
   color: #fff;
   display: block;
   height: 59px;
   margin-top: 40px;
   text-align: center;
   width: 134px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 15px;
   }
li:hover{
    border-bottom: #fff 3px solid;
    margin-top: 43px;
    width: 134px;
    
}
li:active{
    border-bottom: #E71414 3px solid;
    margin-top: 43px;
    width: 134px;
    color: #E71414;
    
}
}
}
    
hr{
    margin: auto;
    width: 984px;
    height: 0px;
    background-color: #BABBC5;
}

.title{
    width: 984px;
    height: 112px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 130px;
    color: #fff;

}
.subtitle{
    width: 984px;
    height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #fff;
    margin-top: 62px;
    }

button{
    padding: 0;
    margin: 82px auto;
    display: flex;
    justify-content: center;
    width: 313px;
    height: 77px;
    background-color: #FF4343;
    border: none;
}


button p{
    color: #fff;
    display: flex;
    align-self: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    }
button:hover{
    background: #E71414;
}

}

main{
    .line{
        display: flex;
        .labels{
            width: 314px;
            .bald{
                width: 314px;
                height: 30px;
                margin: 0;
                margin-top: 30px;
                align-items: center;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            }
            .mid{
                width: 314px;
                height: 64px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            }
        }
    }

    .grid{
        margin: auto;
        margin-top: 113px ;
        display: grid;
        grid-template-rows: 230px 230px;
        grid-template-columns: repeat(4, 256px);

        img{
            width: 256px;
            height: 230px;
        }
    
    .blank{
        display: none;
        p{
         text-align: center;
         display: flex;
         justify-content: center;
        }
        #project{
        padding-top: 75px;
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #fff;     
        }
        #user{
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 21px;
         color: #fff;
        }
        
     }
     .item:hover > .blank{
         position: relative;
         top: -250px;
         height: 230px;
         display: block;
         background: rgba(255, 67, 67, 0.8);
         order: 2px solid #FFFFFF;
     }
     .item:active > .blank{
         position: relative;
         display: block;
         background: rgba(128, 0, 0, 0.8);
         order: 2px solid #FFFFFF;
     }
    }

    .team{
        display: flex;  
        justify-content: center;  
    

    .member{
        margin-top: 114px;
        margin-left: 15px;
        margin-right: 15px;
        width: 227px;
        display: flex;
        flex-direction: column;
        margin-bottom: 114px;

        .name{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
        }

        .job{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FF4343;
            margin: 0;
        }
        .discription{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }

        .socials{   
            display: flex;
        }
        .icon{
            border: 1px solid #C6CBCD;
            width: 39px;
            height: 39px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px; 
            margin-left: 0;
        }
    }
}

.wrapper {
    overflow: hidden;
    height: 380px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.wrapper>input {
    display: none;
}

.slider {
    width: 100%;
    background: #5C3249;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    height: 332px;
}

.slide {
    position: absolute;
    display: flex;
    opacity: 0;
    transform: scale(1);
    width: 100%;
    
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;

    .slide_img, .slide_text {
        width: 50%;
    }

    .slide_img {
        img {
            width: 100%;
            height: 332px;
            display: block;
        }
    }

    .slide_text {
        display: flex;
        align-items: center;
        margin: auto;

        p {
            display: flex;
            justify-content: center;
            align-content: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            padding: 30px;
            width: 50%;
        }
    }


}
}
}

}  
@media (max-width:  320px){
    

    .container{
        width: 100%;
        height: 100%;
        
    
    header{
        
        height: 747px;
        background: linear-gradient(rgba(56, 56, 56, 0.5), rgba(32, 6, 150, 0.5)), url(/pngs/img.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size:cover;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
        
    
    .header_line{
       height: 100px;
       align-items: center;
       display: flex;
       width: 100%;
       margin: auto;   
    .png{
        width: 130px;
        height: 56px;
        margin-left: 20px;
        position: relative;
        z-index: 5;
       }   
       .header_burger{
           display: block;
           position: relative;
           z-index: 3;
           width: 30px;
           height: 20px;
           left: 120px;
           position: relative;
           z-index: 3;
       }
       .header_burger:before,
       .header_burger:after {
           content: '';
           background-color: #fff;
           position: absolute;
           width: 100%;
           height: 2px;
           left: 0;
           transition: all 0.3s ease 0s;
       }
       .header_burger span{
           background-color: #fff;
           position: absolute;
           width: 100%;
           height: 2.5px;
           left: 0;
           top: 9px;
           transition: all 0.3s ease 0s;
       }
       .header_burger:before{
           top: 0;
           height: 2.5px;
       }
       .header_burger:after{
           bottom: 0;
       }
   
       .header_burger.active:before {
           transform: rotate(45deg);
           top: 9px ;
       }
       .header_burger.active:after {
           transform: rotate(-45deg);
           bottom: 9px;
       }
       
       .header_burger.active span {
           transform: scale(0);
       }
   
       .header_menu {
           position: fixed;
           top: -100%;
           left: 0;
           width: 100%;
           height: 100%;
           overflow: auto;
           transition: all 0.3s ease 0s;
           padding: 70px 10px 20px 10px;
       }
   
       .header_menu.active{
           top: -100px;
       }
   
       .header_list{
           display: block;
       }
       .header_list li{
           margin: 0px 0px 10px 40px;
       }
       .header_link{
           font-size: 24px;
           padding-top: 100px;
           margin-top: 0;
       }

       .header_burger .active:active ~ .title{
        color: inherit;
       }
   
    }
        
    hr{display: none;
    }
    
    .title{
        width: 280px;
        height: 210px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 130px;
        color: #fff;
    
    }
    .subtitle{
        width: 280px;
        height: 64px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        color: #fff;
        margin-top: 62px;
        }
    
    button{
        padding: 0;
        margin: 82px auto;
        display: flex;
        justify-content: center;
        width: 280px;
        height: 58px;
        background-color: #FF4343;
        border: none;
    }
    
    
    button p{
        color: #fff;
        display: flex;
        align-self: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        }
    button:hover{
        background: #E71414;
    }
    
    }
    
    main{
        .line{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            .labels{
                width: 314px;
                .bald{
                    width: 314px;
                    height: 30px;
                    margin: 0;
                    margin-top: 30px;
                    align-items: center;
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                }
                .mid{
                    width: 314px;
                    height: 64px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                }
            }
        }
    
        .grid{
            margin: auto;
            margin-top: 113px ;
            display: grid;
            grid-template-rows: repeat(4, 144px);
            grid-template-columns:repeat(2, 160px);
    
            img{
                width: 160px;
                height: 144px;
            }
        
        .blank{
            display: none;
            p{
             text-align: center;
             display: flex;
             justify-content: center;
            }
            #project{
            padding-top: 46px;
            margin-top: 16px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            color: #fff;     
            }
            #user{
             font-family: 'Raleway';
             font-style: normal;
             font-weight: 400;
             font-size: 14px;
             line-height: 16px;
             color: #fff;
            }
            
         }
         .item:hover > .blank{
             position: relative;
             top: -163px;
             height: 143px;
             display: block;
             background: rgba(255, 67, 67, 0.8);
             order: 2px solid #FFFFFF;
         }
         .item:active > .blank{
             position: relative;
             display: block;
             background: rgba(128, 0, 0, 0.8);
             order: 2px solid #FFFFFF;
         }
        }
    
        .team{
            display: flex;  
            flex-direction: column;  
        
    
        .member{
            margin-top: 114px;
            margin-left: 20px;
            margin-right: 15px;
            width: 280px;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
    
            .name{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
            }
    
            .job{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #FF4343;
                margin: 0;
            }
            .discription{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
    
            .socials{   
                display: flex;
            }
            .icon{
                border: 1px solid #C6CBCD;
                width: 39px;
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 5px; 
                margin-left: 0;
            }
        }
    }
    
    .wrapper {
        overflow: hidden;
        height: 585px;
        margin: 0 auto;
        margin-top: 35px;
        position: relative;
        width: 100%;
    }
    
    .wrapper>input {
        display: none;
    }
    
    .slider {
        width: 100%;
        background: #5C3249;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        height: 540px;
    }
    
    .slide {
        position: absolute;
        display: flex;
        opacity: 0;
        transform: scale(1);
        width: 100%;
        flex-direction: column;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    
        .slide_img, .slide_text {
            width: 100%;
        }
    
        .slide_img {
            img {
                width: 320px;
                height: 212px;
                display: block;
            }
        }
    
        .slide_text {
            display: flex;
            align-items: center;
            margin: auto;
            width: 320px;
    
            p {
                display: flex;
                justify-content: center;
                align-content: center;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                padding: 30px;
                width: 320px;
            }
        }
    
    
    }
    .download{
        margin-top: 35px;
        .start{
            margin: auto;
            width: 280px;
            height: 60px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
        .text{
            margin: auto;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            width: 280px;
            height: 60px;
        }
        button{
            width: 280px;
            height: 80px;
        }
    }
    

    }
    footer{
        height: 540px;
            margin-top: 45px;
        .info{
            height: 450px;
            padding-top: 32px;
            display: flex;
            flex-direction: column;
            .blocks{
            width: 320px;
            margin: auto;
                #title{
                    margin: auto;
                    margin-bottom: 34px;
                    width: 280px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                }
                #subtitle{
                    margin: auto;
                    width: 280px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .bottom_line{
            #bottom{
            width: 280px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            }
        }
    }
    }
    
    }  

