@import "./cards.css";
@import "./titles.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

.section_5 .wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    background: #E5E5E5;
    width: 100%;
}
.section_5 .container{
    margin: 50px auto;
    Width: 1171px;

    margin-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}
