.tab body{
    width:100%;
}
.tab .container{
    width: 100%;
   padding-top: 130px;
    width: 1170px;
    margin: 0 auto;
}

.tab .window{
    width: 100%;
}

.tab .tabs { 
        width: 100%;
        padding: 0px; 
        margin: 0 auto;
     }
     .tab .tabs input {
         display: none;
         }
         .tab .tabs div {
        display: none;
        padding: 12px;
        border: 1px solid #C0C0C0;
        background: #FFFFFF;
    }
    .tab .tabs label {
        display: inline-block;
        width: 171px;
        padding: 7px;
        margin: 0 -5px -1px 0;
        text-align: center;
        color: #666666;
        border: 1px solid #C0C0C0;
        background: #E0E0E0;
        cursor: pointer;
    }
    .tab .tabs input:checked + label {
        color: #000000;
        border: 1px solid #C0C0C0;
        border-bottom: 1px solid #FFFFFF;
        background: #FFFFFF;
    }

    .tab #txt_1, #txt_2, #txt_3{
        
        width: 100%;
        height: 501px;
    }

    .tab #txt_1 .lorem{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        border: none;
        width: 570px;
        padding-top: 0;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

    }

    .tab #title{
        width: 570px;
        height: 124px;
        padding-left: 0;
        border: none;
        font-family: Open Sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;

    }
    

    .tab #txt_2 .lorem{
        display: flex;
        flex-direction: column;
        width: 570px;
        padding-top: 0;
        padding-left: 100px;
        border: none;

        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

    }

    .tab #txt_3 .lorem{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        border: none;
        width: 570px;
        
        font-family: Raleway;
        padding-top: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

    }
    .tab button{
    Width:270px;
    Height:58px;
    background: #EC7979;
    border: 0ch;
    margin-bottom: 54px;
}

.tab button:hover{
    background-color: #ec7979b6;
    border-radius: 5px;
}
.tab a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
    

.tab #tab_1:checked ~ #txt_1,
.tab #tab_2:checked ~ #txt_2,
.tab #tab_3:checked ~ #txt_3 {
        padding: 0;
         display: flex; 
         justify-content: space-between;
        }