.costumers .title{
    margin: 0 auto;
    width: 1170px;
    height: 150px;
    align-items: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

.costumers hr{
    width: 170px;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: #EC7979 1px solid;
    background: #EC7979;
}
.costumers .grey{
    text-align: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}