.vok{
    
    background:blueviolet; 
    color: #fff; 
    padding: 1em; 
    border: 6px double #fff; 
  }
  .two{
    background:blueviolet; 
    color: #fff; 
    padding: 1em;
    margin: 1em;
    border: 6px rgb(0, 0, 0) solid;
    
  }